<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>
<body>

<h1>{{title}}</h1>

<h2>{{usertext}}</h2>

<form method="POST" action="{% call url '/users/login' %}">


    {{username}}
    <br>
    {{password}}
    <div>
        <label>Username</label>
        <input type="text" name="username" id="username">
    </div>
    <br/>
    <div>
        <label>Password</label>
        <input type="password" name="password" id="password">
    </div>
    <br/>
    <button type="submit" name="submit" id="submit">
        Submit Now
    </button>

</form>

</body>
</html>